<div class="col s12">
    <blockquote>
        提示及参考：
        <ol>
            <li>每日任务合计<u>1500</u>经验值</li>
            <li>树脂经验值换算为<u>1树脂:5经验值</u></li>
            <li>氪佬只能氪6次50, 100, 100, 150, 200, 200</li>
            <li>不计算除每日任务外其他任务的奖励</li>
        </ol>
    </blockquote>
</div>

<div class="col s12 m3 l3">
    <div class="input-group">
        <label>
            <input id="tu_hao" type="number" class="form-control" placeholder="氪吗？每天氪多少(0-6)单？默认白嫖"
                   aria-describedby="basic-addon1"
                   oninput="if(value>6)value=6;if(value.length>4)value=value.slice(0,4);if(value<0)value=0">
            <input id="lv1" type="number" class="form-control" placeholder="输入起始等级"
                   aria-describedby="basic-addon1"
                   oninput="if(value>59)value=59;if(value.length>4)value=value.slice(0,4);if(value<0)value=0">
            <input id="lv2" type="number" class="form-control" placeholder="输入目标等级"
                   aria-describedby="basic-addon1"
                   oninput="if(value>60)value=60;if(value.length>4)value=value.slice(0,4);if(value<0)value=0">
            <input id="have_got" type="number" class="form-control" placeholder="输入已经获取的经验值"
                   aria-describedby="basic-addon1"
                   oninput="if(value<0)value=0">
        </label>
    </div>
</div>

<!--    <input type="submit" value="Submit" href="javascript:showEXP()"/>-->

<div class="col s12">
    <a href="javascript:showEXP()">点击查询所需经验值</a><br>
    <h2 id="need-exp"></h2>
    <u id="prefix_info"></u><br>
    <span id="need_day"></span>
</div>




