<!--版本答案-->
<div class="col s12">
    <h2>版本答案 队伍推荐</h2>
    <ul class="collapsible" data-collapsible="accordion">
        {% for party in site.data.genshin.party_setup %}
        <li class="hoverable radius5px">
            <div class="collapsible-header">
                <span>{{party.name}}</span>
            </div>

            <div class="collapsible-body">
                <p>
                    {% for i in (0..party.party.size) %}
                    <!--跳过最大的 index从0起 包含了size-->
                    {% if i >= party.party.size %}
                    {% break %}
                    {% endif %}
                    <span>{{party.party[i]}}<span class="chip">{{party.constellation[i]}}</span></span>
                    {% endfor %}
                </p>
                <p>{{party.party}}
                    {% if party.advantage != nil %}<br>优势：{{party.advantage}} {% endif %}
                    {% if party.disadvantage != nil %} <br>缺陷：{{party.disadvantage}} {% endif %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>