<!--长度减1-->
{% capture lenMonthList %}119{% endcapture %}
{% capture lenAllDays %}3649{% endcapture %}


<!--时间轴 电脑版-->
<div class="col s12 hide-on-small-only">
    <h2 class="center-align">祈愿信息</h2>
    <p class="center">也许有未实装、未确定的虚假信息</p>
    <p class="center"><a href="javascript:setCurrentPos()">回到当前时间</a></p>
    <div class="timeline-scroll-x" id="setNowPos">

        <div class="timeline-month">
            {% for i in (0..lenMonthList) %}
            <div class="timeline-month-left-{{i}} hide">
                <div class="timeline-month-width-{{i}}">
                    <span class="timeline-month-text" id="timelineMonthName{{i}}"></span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="timeline-day">

            <div class="timeline-today-line-pos" id="findNowPos">
                <div class="timeline-today-line-pos-text" id="currentTime"></div>
            </div>

            <div class="timeline-wish-event-weapon">
                {% for weapon in site.data.genshin.wish.weapons %}
                {% assign i = forloop.index0 %}

                <div class="card event-item event-item-weapon-{{i}} hide">
                    <div class="card-image waves-effect waves-block waves-light" style="height: 100%">
                        <div class="event-img responsive-img lazy"
                             data-original="/assets/res/genshin-impact/wish/{{weapon.name | downcase | replace: ' ', '_' | append: '_' | append: weapon.image | append: '.jpg' }}">
                        </div>
                        <div class="left-align timeline-character-text ele-text-{{characters[1].ele}}">
                            <div class="timeline-wish-name">{{weapon.name}}</div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="timeline-wish-event-character">

                {% for wish in site.data.genshin.wish.characters %}
                {% assign i = forloop.index0 %}

                {% for characters in site.data.genshin.characters %}
                {% if characters[1].id == wish.wish5star %}
                <div class="card event-item event-item-character-{{i}} event-item-background-{{characters[1].ele}} hide">
                    <div class="card-image waves-effect waves-block waves-light" style="height: 100%">
                        <!-- Modal Trigger -->
                        <a class="modal-trigger" href="#modal{{i}}">
                            <div class="event-img responsive-img lazy"
                                 data-original="/assets/res/genshin-impact/characters/half/{{characters[1].id}}.png">
                            </div>
                        </a>
                        <div class="left-align timeline-character-text ele-text-{{characters[1].ele}}">
                            <div class="timeline-wish-name">
                                {{wish.wishName}}
                            </div>
                            <div>
                               <span class="timeline-character-prefix">
                                   {{site.data.genshin.characters[wish.wish5star].prefix}}
                               </span>
                                <span class="timeline-character-name">
                                   {{characters[1].name}}
                               </span>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal{{i}}" class="modal modal-fixed-footer radius10px">
                        <div class="modal-content auto-height hide-box-shadow hide-border">
                            <div class="card hide-box-shadow hide-border">
                                <div class="card-content valign-wrapper center-align">
                                    <h4 class="center-align ele-text-{{characters[1].ele}}">
                                        {{wish.wishName}}{{site.data.genshin.characters[wish.wish5star].prefix}}&nbsp;·&nbsp;{{characters[1].name}}
                                    </h4>
                                </div>
                                <!--downcase转换小写 并用_替换空格 append其他标记-->
                                <!--replace
                                Replaces all occurrences of a string with a substring.-->
                                <div class="card-image waves-effect waves-block waves-light hoverable">
                                    <img src="/assets/res/genshin-impact/wish/{{ wish.name | downcase | replace: ' ', '_' | append: '_' | append: wish.image | append: '.jpg'  }}">
                                </div>
                                <div class="card-action">
                                    <a class="right ele-text-{{characters[1].ele}}" href="#" target="_blank">官方信息:TODO接入href</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% break %}
                {% endif %}
                {% endfor %}
                {% endfor %}

            </div>

            {% for i in (0..lenAllDays) %}
            <div class="timeline-wrapper left-day-{{i}} hide">
                <div class="timeline-index"><span id="timelineDay{{i}}"></span></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--时间轴 手机端-->
<div class="col s12 hide-on-large-only">
    <h2 class="center-align">祈愿信息</h2>
    <p class="center">也许有未实装、未确定的虚假信息</p>

    {% assign wish_source = site.data.genshin.wish.characters | reverse %}
    {% for wish in wish_source %}
    {% assign i = forloop.index0 %}

    {% for characters in site.data.genshin.characters %}
    {% if characters[1].id == wish.wish5star %}

    {% assign is_future = wish.start | timeago %}
    <div class="event-date ele-text-{{characters[1].ele}} {% if is_future contains 'in' %}grey-text{% endif %}">
        <span><u>
            {% if wish.version != nil %}
            {{wish.version | prepend :"Version: "}}
            {% endif %}
        </u></span>
    </div>
    <div class="event-date ele-text-{{characters[1].ele}} {% if is_future contains 'in' %}grey-text{% endif %}">
        <span>{{wish.start | date: "%H:%M:%S %b %d, %Y" }}&nbsp;~&nbsp;{{wish.end | date: "%H:%M:%S %b %d, %Y"}}</span>
    </div>
    <div class="card event-item-background-{{characters[1].ele}} {% if is_future contains 'in' %}no-publish{% endif %} radius10px">
        <div class="card-image waves-effect waves-block waves-light timeline-character-image radius10px">
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal_mobile_{{i}}">
                <div class="event-img responsive-img lazy {% if is_future contains 'in' %}grey-no-publish{% endif %}"
                     data-original="/assets/res/genshin-impact/characters/half/{{characters[1].id}}.png">
                </div>
            </a>
            <div class="left-align timeline-character-text ele-text-{{characters[1].ele}} {% if is_future contains 'in' %}grey-text{% endif %}">
                <div class="timeline-wish-name">
                    {{wish.wishName}}
                </div>
                <div>
                    <span class="timeline-character-prefix">{{site.data.genshin.characters[wish.wish5star].prefix}}</span>
                    <span class="timeline-character-name">{{characters[1].name}}</span>
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal_mobile_{{i}}" class="modal modal-fixed-footer radius10px">
            <div class="modal-content auto-height hide-box-shadow hide-border">
                <div class="card hide-box-shadow hide-border">
                    <div class="card-content valign-wrapper center-align">
                        <h4 class="center-align ele-text-{{characters[1].ele}}">
                            {{wish.wishName}}{{site.data.genshin.characters[wish.wish5star].prefix}}&nbsp;·&nbsp;{{characters[1].name}}
                        </h4>
                    </div>
                    <!--downcase转换小写 并用_替换空格 append其他标记-->
                    <!--replace
                    Replaces all occurrences of a string with a substring.-->
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img src="/assets/res/genshin-impact/wish/{{ wish.name | downcase | replace: ' ', '_' | append: '_' | append: wish.image | append: '.jpg'  }}">
                    </div>
                    <div class="card-action">
                        <a class="right ele-text-{{characters[1].ele}}" href="#" target="_blank">官方信息:TODO接入href</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% break %}
    {% endif %}
    {% endfor %}
    {% endfor %}


</div>