<script>
    //这样获取时 需要在对应的时间后面加上utc+8
    const eventsData = {{site.data.genshin.wish.characters | jsonify}}
</script>


<!--无法动态设置slider将该长度设置为5 其他填充为敬请期待-->
{% capture lenFuture %}4{% endcapture %}

<!--当前祈愿-->
<div class="col s12">

    <h2 class="center-align" id="noWishInfo"></h2>
    <div class="no-wish">

        <h4 class="center">旅行者可以在活动祈愿中获得更多角色与武器，组建强大的队伍！</h4>
        <h2 class="center-align">
            <span class="tooltipped" id="deadline" data-position="left" data-delay="30" data-tooltip="倒计时"></span>
        </h2>
        <h3 class="center-align">
            <span class="tooltipped" id="time_str" data-position="left" data-delay="30" data-tooltip="NOW"></span>
        </h3>

        <h3 class="center">当前祈愿信息</h3>
        <h4 class="center-align">
            祈愿周期为：<span id="timeStartCurrentCharacter"></span> ~ <span id="timeEndCurrentCharacter"></span>
        </h4>
        <div class="slider">
            <ul class="slides">
                {% for i in (0..3) %}
                <li>
                    <img id="showCurrentWishCharacter{{i}}" loading="lazy">
                    <div class="caption left-align">
                        <h5 class="current-wish-color-{{i}}" id="currentCharacter{{i}}"></h5>
                        <h4 class="light current-wish-color-{{i}}" id="currentWishText{{i}}"></h4>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<!--语音暂不显示-->
<div class="hide">
    <div class="col s12">
        AUTOPLAY<p id="hutao-text"></p>
        <audio id="hutao-voice" controls="controls" autoplay="autoplay"></audio>
    </div>

    <div class="col s12">
        <details>
            <summary>展开所有语音</summary>
            <ul>
                {% for i in (0..6) %}
                <li><p id="hutao-text-{{i}}"></p>
                    <audio id="hutao-voice-{{i}}" controls="controls" preload="none"></audio>
                </li>
                {% endfor %}
            </ul>
        </details>
    </div>
</div>


<!--即将发布-->
<div class="col s12">

    <h2>即将发布</h2>

    <span id="futureWishInfo"></span>
    <div class="future-wish">

        <div class="slider">
            <ul class="slides">
                {% assign pos = "right-align, left-align, center-align, left-align, center-align" | split: "," %}
                {% for i in (0..lenFuture) %}
                <li class="future-wish-bg-color-{{i}}">
                    <img id="futureWishBG{{i}}" loading="lazy">

                    <div class="caption {{pos[forloop.index0]}}">
                        <h4 class="light future-wish-color-{{i}}" id="futureWish{{i}}"></h4>
                        <h5 class="future-wish-color-{{i}}" id="futureWishText{{i}}"></h5>
                        <img class="z-depth-0 responsive-img hide" id="futureElements{{i}}"
                             loading="lazy">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<!--空行分割-->
<div class="col s12"> &nbsp;</div>

<div class="divider"></div>
