<p class="center-align">今天吃什么呢</p>

<div class="col s12">
    <h2>在日程上了</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for future in site.data.food-list.future %}
        {% if future.name != nil %}
        <li class="hoverable">
            <div class="collapsible-header">
                <div> {{future.name}}</div>
            </div>

            <div class="collapsible-body {% if future.recommend == nil %}hide{% endif %}">
                {% if future.recommend != nil %}
                {% for info in future.recommend %}
                <p>{{info}}</p>
                {% endfor %}
                {% endif %}
            </div>

        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!--外卖推荐-->
<div class="col s12">
    <h2>外卖推荐</h2>
    <ul class="collapsible" data-collapsible="accordion">
        {% for bestFood in site.data.food-list.bestFood %}
        {% if bestFood.name != nil %}
        <li class="hoverable">
            <div class="collapsible-header stars-{{bestFood.rate}}">
                <div> {{bestFood.name}}</div>
                <span class="badge right">
                    {% for food in bestFood.recommend %}
                    {% assign price = food | split: "," %}
                    <!--price 0是商品 1是价钱-->
                    ￥{{price[1]}}
                    {% break %}
                    {% endfor %}
                    </span>
            </div>
            <div class="collapsible-body">
                {% for food in bestFood.recommend %}
                <p class="chip stars-{{bestFood.rate}}">{{price[0]}}</p><br>
                <p class="chip">￥{{price[1]}}</p><br>
                {% if bestFood.tip != nil %}
                <p class="chip"> TIPS: {{bestFood.tip}}</p><br>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>

<!--block-->
<div class="col s12">
    <h2>拉黑商家 - 非常难吃</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for blackFood in site.data.food-list.blackFood %}
        {% if blackFood.name != nil %}
        <li class="hoverable">
            <div class="collapsible-header">
                <div> {{blackFood.name}}</div>
            </div>

            <div class="collapsible-body {% if blackFood.reason == nil and blackFood.food == nil %}hide{% endif %}">
                {% if blackFood.reason != nil %}<p>拉黑原因：{{blackFood.reason}}</p>{% endif %}
                {% if blackFood.food != nil %}<p>拉黑菜品：{{blackFood.food}}</p>{% endif %}
            </div>

        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<!--店里吃-->
<div class="col s12">
    <h2>去店里吃</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for info in site.data.food-list.restaurant %}
        {% if info.name != nil %}
        <li class="hoverable">
            <div class="collapsible-header">
                <div> {{info.name}}</div>
            </div>

            <div class="collapsible-body {% if info.recommend == nil and info.not_recommend == nil %}hide{% endif %}">
                {% if info.recommend != nil %}
                <p>
                    推荐菜品：
                    {% for recommend in info.recommend %}
                    {{recommend}}，
                    {% endfor %}
                </p>
                {% endif %}
                {% if info.not_recommend != nil %}
                <p>
                    拉黑菜品：
                    {% for not_recommend in info.not_recommend %}
                    {{not_recommend}}，
                    {% endfor %}
                </p>
                {% endif %}
            </div>

        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>



