<h2 class="center-align">相见の日子</h2>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light hoverable">
        <img class="materialboxed" src="/assets/res/date1.jpg" loading="lazy">
    </div>
</div>


<style>
    .collapsible-header {
        border-bottom: 0;
    }

    .collapsible-body {
        border-bottom: 0;
    }
</style>

<div class="row">

    <h2>小刺猬の推荐</h2>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for cuisine in site.data.hedgehog.recommend %}
        {% if cuisine.name != nil %}

        <li class="z-depth-2 hoverable radius10px">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{cuisine.name}}
            </div>

            <div class="collapsible-body  {% if cuisine.img == nil and cuisine.info == nil %}hide{% endif %}">
                {% if cuisine.img != nil %}
                <div class="card">

                    {% for src in cuisine.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" src="/assets/res/hedgehog/{{src}}">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if cuisine.info != nil %}
                {{cuisine.info}}
                {% endif %}
            </div>


        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>

<div class="row">

    <h2>小刺猬の奶茶</h2>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for tea in site.data.hedgehog.tea %}
        {% if tea.name != nil %}

        <li class="z-depth-2 hoverable radius10px">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{tea.name}}
            </div>

            <div class="collapsible-body {% if tea.img == nil and tea.info == nil and tea.restaurant == nil %}hide{% endif %}">
                {% if tea.img != nil %}
                <div class="card">
                    {% for src in tea.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" src="/assets/res/hedgehog/{{src}}">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if tea.restaurant != nil %}
                {{tea.restaurant}}
                {% endif %}

                {% if tea.info != nil %}
                {{tea.info}}
                {% endif %}
            </div>


        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>


<div class="row">

    <h2>小刺猬の小黑屋</h2>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for block in site.data.hedgehog.block %}
        {% if block.name != nil %}

        <li class="z-depth-2 hoverable radius10px">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{block.name}}
            </div>

            <div class="collapsible-body {% if block.reason == nil and block.img == nil %}hide{% endif %}">
                {{block.reason}}
                <img src="/assets/res/hedgehog/block/{{block.img}}">
            </div>
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>


<div class="row">

    <h2>小刺猬の日常</h2>

    <!--FOOD-->
    {% for i in (0..25) %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/food/{{i}}.jpg" loading="lazy">
            </div>

            {% for dailyFood in site.data.hedgehog.daily.food %}
            {% if i == forloop.index0 %}
            {% if dailyFood[1].info != nil %}
            <div class="card-content valign-wrapper center-align activator">
                <span class="activator grey-text text-darken-1">{{dailyFood[1].info}}</span>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!--TEA-->
    {% for i in (0..4) %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/tea/{{i}}.jpg" loading="lazy">
            </div>

            {% for dailyTea in site.data.hedgehog.daily.tea %}
            {% if i == forloop.index0 %}
            {% if dailyTea[1] != nil %}
            <div class="card-content valign-wrapper center-align activator">
                <span class="activator grey-text text-darken-1">{{dailyTea[1]}}</span>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!--SNACK-->
    {% for i in (0..3) %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/snack/{{i}}.jpg" loading="lazy">
            </div>

            {% for dailySnack in site.data.hedgehog.daily.snack %}
            {% if i == forloop.index0 %}
            {% if dailySnack[1] != nil %}
            <div class="card-content valign-wrapper center-align activator">
                <span class="activator grey-text text-darken-1">{{dailySnack[1]}}</span>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>



<div class="row">
    <h2>小刺猬の生活</h2>
    {% for i in (0..53) %}
    <div class="col s12 m4 l3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/xy/{{i}}.jpg" loading="lazy">
            </div>
        </div>
    </div>
    {% endfor %}
</div>