<div class="col s12">
    {% for dynasty in site.data.history %}
    {% assign info = dynasty[1] %}
    <div class="dynasty-info">
        <details>
            <summary>
                <div class="dynasty-title">
                    {{info.name}}
                </div>
                <div class="dynasty-date">
                    {% if info.accuracy == 0 or info.accuracy == 1 %}约&nbsp;{% endif %}
                    {{info.start}}
                    &nbsp;-&nbsp;
                    {% if info.accuracy == 0 or info.accuracy == 2 %}约&nbsp;{% endif %}
                    {{info.end}}
                </div>
            </summary>

            <div class="dynasty-excerpt">
                {{info.info | replace: ')', ')<br>' | replace: '）', '）<br>' }}
            </div>
        </details>
    </div>
    {% endfor %}
</div>

