<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.jpg"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">成为一个<span id="js-rotating">财务自由,身体自由,社交自由,精神自由</span>的人</h4>
    </div>

    <hr>

    <br>
    <br>
    <div class="user-content center-align">
        <a href="{{site.baseurl}}/aerial/index.html" target="_parent">...EXPLORE...</a>
    </div>
</div>