<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/res/user.jpg"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden"><span id="js-rotating">行胜于言,世事洞明,人情练达,沉寂勿燥</span></h4>
    </div>

    <hr>

    <br>
    <div class="center-align">
        <span>There is a sweet smell of roses in the air.</span>
        <h3>MORE INFO IN <a href="/style/index.html" target="_parent">RESUME</a></h3>
    </div>
</div>