<div class="col s12">
    <div class="user-intro center-align">
        <h4 class="hide"><span id="js-rotating">行胜于言,世事洞明,人情练达,沉寂勿燥</span></h4>
    </div>
</div>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">EN</button>
    <button type="button" class="btn btn-success">ZH</button>
</div>

<div class="col s12">
    <h2>Hi, there!</h2>
    <h3>I am Augus, a self-taught back-end developer from China.</h3>
</div>

<div class="col s12">
    <details>
        <summary class="grey-text">
            more
        </summary>
        <div class="col s12">
            <div class="about-info"><span id="subtitle">|</span></div>
        </div>

        <div class="col s12">
            <div class="center-align">
                <h4>MORE INFO IN <a href="/style/index.html" target="_parent">RESUME</a></h4>
            </div>
        </div>
    </details>
</div>

