<div class="col s12">
    <div class="row">
        <div class="col s12">
            <h2>CONTACT</h2>
            <ul class="collapsible" data-collapsible="accordion">
                <li class="hide-box-shadow hoverable">
                    <div class="collapsible-header">
                        <a class="fab fa-qq" target="_blank"
                           href="https://wpa.qq.com/msgrd?v=3&uin=980652196&site=qq&menu=yes">QQ </a>
                    </div>
                </li>
                <li class="hide-box-shadow hoverable">
                    <div class="collapsible-header">
                        <a href="#giscus-container" class="fa fa-comment-dots">留言</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h2>致谢</h2>
            <ul class="collapsible" data-collapsible="accordion">
                {% for thanksInfo in site.data.thanks %}
                <li class="hide-box-shadow hoverable">
                    <div class="collapsible-header">
                        <a href="{{thanksInfo[1].url}}">{{thanksInfo[1].name}}</a>
                    </div>

                    <div class="collapsible-body {% if thanksInfo[1].info == nil %}hide{% endif %}">
                        {{thanksInfo[1].info}}
                    </div>
                </li>
                {% endfor %}

                <li class="hide-box-shadow hoverable">
                    <a href="https://www.jetbrains.com/?=augus" target="_parent">
                        <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/jb_beam.svg"
                             alt="JetBrains Logo (Main) logo."/></a>
                    <a href="https://www.jetbrains.com/webstorm/?=augus" target="_parent">
                        <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/WebStorm_icon.svg"
                             alt="WebStorm logo."/></a>
                </li>
            </ul>
        </div>
    </div>


    {% include giscus.html %}

</div>
