<div class="collection">

    {% for info in site.data.countdown %}

    {% capture show %}
    {% if info[1].block != nil %} {{info[1].block}} {% endif %}
    {% if info[1][2021] != nil %} {{info[1][2021]}} {% endif %}
    {% if info[1][2021] == nil %} {{info[1][2022]}} {% endif %}
    {% endcapture %}

    <!--index起始为1 index0起始为0 https://shopify.dev/api/liquid/objects/for-loops-->
    <h3 class="collection-item out-of-time-{{forloop.index0}}">{{info[1].name}}：
        <!-- data-position can be : bottom, top, left, or right -->
        <!-- data-tooltip defines the tooltip text -->
        <span class="badge chip tooltipped" id="{{info[0]}}" data-position="left" data-tooltip="{{show}}"></span>
        <span class="badge red-text">{{info[1].info}}</span>
    </h3>
    {% endfor %}

</div>