<div class="col s12">

    <div class="article-sort-title">日记</div>
    <div class="article-sort">
        <!--TODO 年份动态-->
        <div class="article-sort-item year">2022</div>
        {% assign emoticon = "0,1,2,4,5,6,8,10,12,13,14,15" | split: "," %}
        {% assign pages = site.pages | sort: 'date' | reverse %}
        {% for page in pages %}
        {% if page.layout == "daily" %}
        {% assign eIndex = forloop.index0 | plus: emoticon.size | modulo: emoticon.size %}
        {% assign dateYear = page.date | date: "%Y" %}
        <div class="article-sort-item">
            <a class="article-sort-item-img" href="{{page.url}}" target="_parent">
                <img class="circle" src="/assets/res/genshin-impact/emoticon/{{emoticon[eIndex]}}.png">
            </a>
            <div class="article-sort-item-info">
                <div class="article-sort-item-time"><i class="far fa-calendar-alt"></i>
                    {{page.date | date_to_string}}
                </div>
                <a class="" href="{{page.url}}" target="_parent">
                    {{page.title}}
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
