<p>原神相关的信息 目前只更新了角色up祈愿</p>

<!--长度减1-->
{% capture lenMonthList %}119{% endcapture %}
{% capture lenAllDays %}3649{% endcapture %}
<!--无法动态设置slider将该长度设置为5 其他填充为敬请期待-->
{% capture lenFuture %}4{% endcapture %}
{% capture lenCurrent %}99{% endcapture %}

{% capture lenElements %}6{% endcapture %}

<!--时间轴-->
<div class="col s12">
    <div class="timeline-scroll-x" id="setNowPos">

        <div class="timeline-month">
            {% for i in (0..lenMonthList) %}
            <div class="timeline-month-left-{{i}} lenMonthList-show-{{i}}">
                <div class="timeline-month-width-{{i}}"><span id="timelineMonthName{{i}}"></span></div>
            </div>
            {% endfor %}
        </div>

        <div class="timeline-day">

            <div class="timeline-today-line-pos" id="findNowPos" style="z-index: 2;">
                <div class="absolute" id="currentTime"></div>
            </div>

            <div class="timeline-wish" style="z-index: 3">
                <div style="position: absolute">

                    {% for wish in site.data.genshin-wish.characters %}

                    {% assign i = forloop.index0 %}

                    {% for characters in site.data.genshin-characters %}
                    {% if characters[1].id == wish.wish5star[0] %}

                    <!--颜色控制-->
                    {% assign eleColor = "#fff" %}
                    {% for eleInfo in site.data.genshin-ele-color %}
                    {% if eleInfo[0] == characters[1].ele %}
                    {% assign eleColor = eleInfo[1] %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                    <!--颜色控制-->

                    <div class="card event-item event-item-{{i}}" style="background-color: {{eleColor}}">
                        <div class="card-image waves-effect waves-block waves-light " style="height: 128px">
                            <div class="event-img responsive-img activator"
                                 style="background-image: url('/assets/res/genshin-impact/characters/half/{{characters[1].id}}.png')">
                            </div>
                            <span class="left-align" style="font-size: 4rem; margin-left: 10px; color: white">
                                {{characters[1].name}}
                            </span>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title" style="color: {{eleColor}}">
                                <i class="material-icons right">close</i>
                                {{wish.name}}-{{wish.shortName}}
                            </span>
                            <!--downcase转换小写 并用_替换空格 append其他标记-->
                            <img alt="" loading="lazy"
                                 src="/assets/res/genshin-impact/events/{{ wish.name | downcase | replace: ' ', '_' | append: '_' | append: wish.image | append: '.jpg'  }}">

                            <p style="color: {{eleColor}}"> {{characters[1].intro-content}}</p>

                            <button class="btn waves-effect waves-light" style="background-color: {{eleColor}}">
                                <i class="material-icons">share</i>
                            </button>
                            <a class="right" style="color:{{eleColor}}" href="#" target="_blank">官方信息:TODO接入href</a>
                        </div>

                    </div>

                    {% break %}
                    {% endif %}
                    {% endfor %}

                    {% endfor %}

                </div>
            </div>

            {% for i in (0..lenAllDays) %}
            <div class="timeline-wrapper left-day-{{i}} lenAllDays-show-{{i}}" style="z-index: -1">
                <div class="timeline-index"><span id="timelineDay{{i}}"></span></div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<!--语音暂不显示-->
<div style="display: none">
    <div class="col s12">
        AUTOPLAY<p id="hutao-text"></p>
        <audio id="hutao-voice" controls="controls" autoplay="autoplay"></audio>
    </div>

    <div class="col s12">
        <details>
            <summary>展开所有语音</summary>
            <ul>
                {% for i in (0..6) %}
                <li><p id="hutao-text-{{i}}"></p>
                    <audio id="hutao-voice-{{i}}" controls="controls" preload="none"></audio>
                </li>
                {% endfor %}
            </ul>
        </details>
    </div>
</div>

<!--恶搞-->
<div class="col s12">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/assets/res/genshin-impact/wish_spoof_1.jpg" loading="lazy">
                <div class="caption left-align">
                    <h3 class="light" style="color: #a6fdfd;">真名 渡厄真君</h3>
                    <h3 class="light" style="color: #a6fdfd;">听诏 宣此诰退</h3>
                </div>
            </li>
            <li>
                <img src="/assets/res/genshin-impact/wish_spoof_2.jpg" loading="lazy">
                <div class="caption right-align">
                    <h3 class="light" style="color: #e2b032;">天动万象</h3>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--当前祈愿-->
<div class="col s12">

    <h1 id="noWishInfo"></h1>
    <div class="no-wish">

        <div class="row center">
            <h2>旅行者可以在活动祈愿中获得更多角色与武器，组建强大的队伍！</h2>
            <!--元素显示-->
            {% for i in (0..lenElements) %}
            <img class="z-depth-2 show-elements-{{i}} hoverable responsive-img"
                 style="border-radius: 10px"
                 id="showElements{{i}}" alt="" src="" loading="lazy">
            {% endfor %}
        </div>

        <div class="row">
            <h1>当前祈愿为 </h1>
            <ul class="collapsible popout" data-collapsible="accordion">
                {% for i in (0..lenCurrent) %}
                <li style="border-radius: 5px;" class="current-wish-bg-{{i}} z-depth-2 hoverable lenCurrent-show-{{i}}">
                    <div class="collapsible-header" style="background-color: rgba(255,255,250,0)!important;">
                        <h5 class="current-wish-color-{{i}}" id="currentCharacter{{i}}"></h5>
                    </div>

                    <div class="collapsible-body">
                        <img class="z-depth-0 responsive-img left" id="currentElements{{i}}" loading="lazy"><br>
                        <span class="current-wish-color-{{i}}" id="currentCharacter1-{{i}}"></span><br>
                        <span class="current-wish-color-{{i}}" id="currentWishText{{i}}"></span>

                    </div>
                </li>
                {% endfor %}
                <li style="border-radius: 5px;" class="z-depth-2 hoverable">
                    <div class="collapsible-header"
                         style="background-color: rgba(255,255,250,0)!important;">

                        祈愿倒计时：<span id="deadline"></span>
                    </div>
                </li>
                <li style="border-radius: 5px;" class="z-depth-2 hoverable">
                    <div class="collapsible-header"
                         style="background-color: rgba(255,255,250,0)!important;">
                        当前时间为：<span id="time_str"></span>
                    </div>
                </li>
                <li style="border-radius: 5px;" class="z-depth-2 hoverable">
                    <div class="collapsible-header"
                         style="background-color: rgba(255,255,250,0)!important;">

                        当前祈愿周期为：
                        <span id="timeStartCurrentCharacter"></span> ~ <span id="timeEndCurrentCharacter"></span>

                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>

<!--版本答案-->
<div class="row">
    <h1>版本答案 0命5星 队伍推荐</h1>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for party in site.data.genshin-party-setup %}
        <li class="z-depth-2 hoverable" style="border-radius: 5px;background-color: rgba(255,255,250,0)!important;">
            <div class="collapsible-header" style="background-color: rgba(255,255,250,0)!important;">
                <h5>{{party.name}}</h5>
            </div>

            <div class="collapsible-body">
                <p>{{party.party}}
                    {% if party.advans != "" %}<br>优势：{{party.advans}} {% endif %}
                    {% if party.disadvans != "" %} <br>缺陷：{{party.disadvans}} {% endif %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<!--即将发布-->
<div class="row">

    <h1>即将发布</h1>

    <span id="futureWishInfo"></span>
    <div class="future-wish">

        <div class="slider">
            <ul class="slides">
                {% for i in (0..lenFuture) %}
                <li class="future-wish-bg-color-{{i}}">
                    <img id="futureWishBG{{i}}" loading="lazy">

                    <div class="caption center-align">
                        <h3 class="light future-wish-color-{{i}}" id="futureWish{{i}}"></h3>
                        <h5 class="future-wish-color-{{i}} " id="futureWishText{{i}}"></h5>
                        <img class="z-depth-0 responsive-img" style="display: none" id="futureElements{{i}}"
                             loading="lazy">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>


    </div>

</div>

<!--空行分割-->
<div class="col s12"> &nbsp;</div>

<h1>观月推荐</h1>

<div class="row">
    {% for artifacts in site.data.genshin-artifacts %}
    <div class="col s12 m6 l4 ">
        <div class="card ">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img class="activator" src="/assets/res/genshin-impact/characters/half/{{artifacts[0]}}.png"
                     loading="lazy">
            </div>

            <div class="card-reveal">
                <span class="card-title">{{artifacts[1].name}}圣遗物</span>
                {% if artifacts[1].artifacts != "" %} 推荐：{{artifacts[1].artifacts}}<br>{% endif %}
                {% if artifacts[1].main != "" %} 主词条：{{artifacts[1].main}}<br>{% endif %}
                {% if artifacts[1].sub != "" %} 副词条：{{artifacts[1].sub}}<br>{% endif %}
                {% if artifacts[1].tips != "" %} TIPS：{{artifacts[1].tips}}<br>{% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<h1>全部角色</h1>
<div class="row">
    {% for characters in site.data.genshin-characters %}
    <div class="col s4 m3 l1">
        <div class="card" style="background-color: rgba(255,255,250,0)!important;border-radius:10px">
            <!--设置背景时发现高度为0 增加 padding-bottom 即可显示-->
            <div class="card-image waves-effect waves-block waves-light hoverable"
                 style="background-image: url('/assets/res/genshin-impact/characters/{{characters[1].id}}.png');
                 background-repeat: no-repeat;
                 background-position: center;
                 padding-bottom:100%;
                 border-radius:10px">
                <div style="width: 30%">
                    <img src="/assets/res/genshin-impact/elements/{{characters[1].ele}}.png" loading="lazy">
                </div>
            </div>


            {% for eleInfo in site.data.genshin-ele-color %}
            {% if eleInfo[0] == characters[1].ele %}
            <span class="activator center valign-wrapper" style="color:{{eleInfo[1]}}"> {{characters[1].name}}</span>
            {% break %}
            {% endif %}
            {% endfor %}


        </div>
    </div>
    {% endfor %}
</div>

<!--滚动版全部角色-->
<div class="row">
    <div class="carousel">
        {% for characters in site.data.genshin-characters %}
        <a class="carousel-item" href="#">
            <img src="/assets/res/genshin-impact/characters/full/{{characters[1].id}}.png">
        </a>
        {% endfor %}
    </div>
</div>

<div class="divider"></div>

<h4>====测试用====</h4>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light hoverable">
        <img loading="lazy">
    </div>

    <div class="card-reveal">
                    <span class="card-title">
                        <i class="material-icons right">close</i>
                    </span>
    </div>

    <!--truncate截断-->
    <div class="card-action">
        <h5 class="truncate"></h5>
    </div>


</div>


<h4>Default Preloader</h4>
<div class="progress">
    <div class="determinate" style="width: 50%"></div>
</div>
<h4>Indeterminate Preloader</h4>
<div class="progress">
    <div class="indeterminate"></div>
</div>
<h4>Circular Preloader</h4>
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<hr>

<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>

    <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>


<h3>Tabs Demo</h3>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#inbox">Inbox</a></li>
            <li class="tab col s3"><a class="active" href="#unread">Unread</a></li>
            <li class="tab col s3 disabled"><a href="#outbox">Outbox (Disabled)</a></li>
            <li class="tab col s3"><a href="#sent">Sent</a></li>
        </ul>
    </div>
    <div id="inbox" class="col s12">Inbox</div>
    <div id="unread" class="col s12">Unread</div>
    <div id="outbox" class="col s12">Outbox (Disabled)</div>
    <div id="sent" class="col s12">Sent</div>
</div>


<div class="card-panel">
    <h5>Raised Buttons</h5>
    <button class="btn waves-effect waves-teal">Add</button>
    <button class="btn waves-effect waves-teal"><i class="material-icons left">add</i>Add</button>
    <button class="btn waves-effect waves-teal"><i class="material-icons right">add</i>Add</button>
    <button class="btn waves-effect waves-teal disabled">Add</button>
    <h5>Flat Buttons</h5>
    <button class="btn-flat waves-effect waves-teal">Add</button>
    <button class="btn-flat waves-effect waves-teal disabled"><i class="material-icons left">add</i>Add</button>
    <h5>Floating Buttons</h5>
    <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
    <a class="btn-floating waves-effect waves-light red disabled"><i class="material-icons">add</i></a>
    <h5>Large Buttons</h5>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <a class="btn-floating btn-large waves-effect waves-light red disabled"><i class="material-icons">add</i></a>
    <h5>Primary Buttons</h5>
    <button class="btn waves-effect waves-light red" type="submit">Send<i class="material-icons right">send</i></button>
    <button class="btn waves-effect waves-light blue " type="submit">Cancel<i
            class="material-icons right">cancel</i></button>
</div>
