<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/res/augus.ico"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/assets/css/bootstrap-3.4.1-dist/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/assets/css/bootstrap-3.4.1-dist/bootstrap-theme.min.css">
    <!--代码高亮 https://highlightjs.org/static/demo/-->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark-reasonable.min.css">
    <!--  global  -->
    <link rel="stylesheet" href="/assets/css/main.css">

    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"/>
    {% else %}
    <link rel="stylesheet" href="/assets/css/{{css}}"/>
    {% endif %}
    {% endfor %}

    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"/>
    {% else %}
    <link rel="stylesheet" href="/assets/css/{{css}}"/>
    {% endif %}
    {% endfor %}

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"/>
    {% seo title=false %}
</head>

<!--二选一 要不header 要不full-->
{% if page.with_full_bg %}
{% assign full_bg_info = page.with_full_bg | prepend: '/assets/res/' %}
{% endif %}
{% if page.with_header_bg %}
{% assign header_bg_info = page.with_header_bg | prepend: '/assets/res/' %}
{% endif %}
<body class="{% if page.with_full_bg %}full-bg lazy{% endif %}" data-original="{{full_bg_info}}">
<header class="{% if page.with_header_bg %}header-bg lazy{% endif %}" data-original="{{header_bg_info}}">

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content nav-dropdown-content">
        <li><a href="/index">主页</a></li>
        <li><a href="/daily">日记</a></li>
        <li><a href="/countdown">倒计时</a></li>
        <li><a href="/hedgehog">小刺猬</a></li>
        <li><a href="/food">外賣薦</a></li>
        <li class="divider"></li>
        <li><a href="/words_en">英语词汇</a></li>
        <li><a href="/words_zh">汉语词汇</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id="dropdown2" class="dropdown-content nav-dropdown-content">
        <li><a href="/blog/index">Abstract</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tags">Tags</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id="dropdown3" class="dropdown-content nav-dropdown-content">
        <li><a href="/genshin">原神</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id="dropdown4" class="dropdown-content nav-dropdown-content">
        <li><a href="/projects">Projects</a></li>
        <li class="divider"></li>
        <li><a href="/cpp">CPP</a></li>
        <li><a href="/algorithm">algorithm</a></li>
        <li><a href="/os">os</a></li>
        <li><a href="/network_protocol">protocol</a></li>
        <li><a href="/database">database</a></li>
        <li><a href="/java">java</a></li>
        <li><a href="/front_end">front_end</a></li>
        <li><a href="/sys_design">sys_design</a></li>
        <li><a href="/non_tech">non_tech</a></li>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
        <li><a href="/style/index">Resume</a></li>
        <li><a href="/contact-thanks">Contact</a></li>
    </ul>


    <!--To make the navbar fixed-->
    <!--如果你想加入更多信息 可以设置nav的class为 extended navbar-->
    <!--然后在nav-wrapper同级加入nav-content-->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top hide-box-shadow">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="huxblog_navbar">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ site.baseurl }}/">Home</a>
                        </li>

                        <!--数组声明 用split切割字符串-->
                        {% assign names = "LIFE,ARTICLE,GAMES,CODE" | split: "," %}
                        {% for n in names %}
                        <li><a class="dropdown-trigger" href="javascript:void(0);"
                               data-target="dropdown{{forloop.index}}">
                            <!--图标只在手机上显示 图标暂时隐藏 等找到好看图标再显示-->
                            <!--<div class="hide-on-med-and-up"><i class="fa {{icon}}"></i></div>-->
                            <!--<div class="hide-on-small-only">{{names[forloop.index0]}}</div>-->
                            <div>{{names[forloop.index0]}}</div>
                        </a></li>
                        {% endfor %}

                        <li class="search-icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>

                        <li>
                            <a href="{{site.github.repository_url}}">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <script>
        // Drop Bootstarp low-performance Navbar
        // Use customize navbar with high-quality material design animation
        // in high-perf jank-free CSS3 implementation
        var $body = document.body;
        var $toggle = document.querySelector(".navbar-toggle");
        var $navbar = document.querySelector("#huxblog_navbar");
        var $collapse = document.querySelector(".navbar-collapse");

        var __HuxNav__ = {
            close: function () {
                $navbar.className = " ";
                // wait until animation end.
                setTimeout(function () {
                    // prevent frequently toggle
                    if ($navbar.className.indexOf("in") < 0) {
                        $collapse.style.height = "0px";
                    }
                }, 400);
            },
            open: function () {
                $collapse.style.height = "auto";
                $navbar.className += " in";
            }
        };

        // Bind Event
        $toggle.addEventListener("click", function (e) {
            if ($navbar.className.indexOf("in") > 0) {
                __HuxNav__.close();
            } else {
                __HuxNav__.open();
            }
        });

        /**
         * Since Fastclick is used to delegate 'touchstart' globally
         * to hack 300ms delay in iOS by performing a fake 'click',
         * Using 'e.stopPropagation' to stop 'touchstart' event from
         * $toggle/$collapse will break global delegation.
         *
         * Instead, we use a 'e.target' filter to prevent handler
         * added to document close HuxNav.
         *
         * Also, we use 'click' instead of 'touchstart' as compromise
         */
        document.addEventListener("click", function (e) {
            if (e.target == $toggle) return;
            if (e.target.className == "icon-bar") return;
            __HuxNav__.close();
        });

    </script>


</header>
<main>