<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% if page.title %}
            {{ page.title | escape }}
            {% else %}
            {{ site.title | escape }}
            {% endif %}
        </title>
        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/augus.ico"/>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/materialize.min.css">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>

        {% for css in layout.css %}
        {% if css contains "//" %}
        <link rel="stylesheet" href="{{css}}"/>
        {% else %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
        {% endif %}
        {% endfor %}

        {% for css in page.css %}
        {% if css contains "//" %}
        <link rel="stylesheet" href="{{css}}"/>
        {% else %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
        {% endif %}
        {% endfor %}


        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css"/>
        <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml"/>
        {% seo title=false %}
    </head>
    <body>
        <header>

            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content nav-dropdown-content">
                <li><a href="{{site.baseurl}}/index">Home</a></li>
                <li><a href="{{site.baseurl}}/blog/index">Blog</a></li>
                <li class="divider"></li>
                <li><a href="{{site.baseurl}}/projects">Projects</a></li>
                <li class="divider"></li>
                <li><a href="{{site.baseurl}}/categories">Categories</a></li>
                <li><a href="{{site.baseurl}}/tags">Tags</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown2" class="dropdown-content nav-dropdown-content">
                <li><a href="{{site.baseurl}}/countdown">Countdown</a></li>
                <li><a href="{{site.baseurl}}/genshin">Genshin</a></li>
                <li><a href="{{site.baseurl}}/recommend-cuisine">🦔</a></li>
                <li><a href="{{site.baseurl}}/food">Food</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown3" class="dropdown-content nav-dropdown-content">
                <li><a href="{{site.baseurl}}/about">About</a></li>
                <li><a href="{{site.baseurl}}/contact-thanks">Contact</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content nav-dropdown-content">
                <li><a href="{{site.baseurl}}/aerial/index">Intro</a></li>
                <li><a href="{{site.baseurl}}/style-matter/index">Matter</a></li>
                <li><a href="{{site.baseurl}}/editorial/index">Editorial</a></li>
            </ul>

            <!--To make the navbar fixed-->
            <div class="navbar-fixed">
                <!--如果你想加入更多信息 可以设置nav的class为 extended navbar-->
                <!--然后在nav-wrapper同级加入nav-content-->
                <nav>
                    <div class="nav-wrapper">
                        <a href="{{site.github.repository_url}}" class="brand-logo hide-on-small-only">
                            {{site.title}}<i class="fab fa-github"></i></a>

                        <ul class="right">
                            <!--数组声明 用split切割字符串-->
                            {% assign icons = "fa-home, fa-hourglass-half, fa-user, fa-blog" | split: "," %}
                            {% assign names = "Home, Other, About, Else" | split: "," %}
                            {% for icon in icons %}
                            <li><a class="dropdown-trigger" href="#!" data-target="dropdown{{forloop.index}}">
                                <!--图标只在手机上显示-->
                                <div class="hide-on-med-and-up"><i class="fa {{icon}}"></i></div>
                                <div class="hide-on-small-only">{{names[forloop.index0]}}<i class="material-icons right">arrow_drop_down</i></div>
                            </a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="container" style="display: none">
                <a href="#" data-target="slide-out" class="sidenav-trigger full">
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <ul id="slide-out" class="sidenav sidenav-fixed page-left-bg" style="display: none">
                <li>
                    <div class="userView">
                            <div class="row">
                                <div class="col s3">
                                    <a href="{{site.github_profile}}" target="_blank">
                                        <img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.jpg" width="64" alt=""></a>
                                </div>
                                <div class="col s9">
                                    {{site.user}}<br>
                                    <a href="mailto:{{site.user_email}}"><u class="email">{{site.user_email}}</u></a>
                                </div>
                            </div>
                    </div>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/index"><i class="fa fa-home"></i>Home</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="fa fa-project-diagram"></i>Projects</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="fa fa-list"></i>Categories</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="fa fa-marker"></i>Tags</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/countdown"><i class="fa fa-hourglass-half"></i>Countdown</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/genshin"><i class="fa fa-gamepad"></i>Genshin</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/recommend-cuisine"><i class="fa fa-assistive-listening-systems"></i>Recommend</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/food"><i class="fa fa-utensils"></i>Food</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="fa fa-user"></i>About</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/contact-thanks"><i class="fa fa-mail-bulk"></i>Contact&nbsp;Thanks</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/index"><i class="fa fa-blog"></i>Blog</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/aerial/index"><i class="fa fa-user-secret"></i>Intro</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/style-matter/index"><i class="fa fa-solar-panel"></i>Matter</a></li>
                <li><a class="waves-effect" href="{{site.baseurl}}/editorial/index"><i class="fa fa-pager"></i>Editorial</a></li>

            </ul>

        </header>
        <main>