<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/augus.ico"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--  global  -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"/>
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
    {% endif %}
    {% endfor %}

    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}"/>
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"/>
    {% endif %}
    {% endfor %}

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"/>
    {% seo title=false %}
</head>
