<div class="row">

    <h1>小刺猬の推荐</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for cuisine in site.data.hedgehog.recommend %}
        {% if cuisine.name != nil %}

        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                {{cuisine.name}}
            </div>

            {% if cuisine.img != nil or cuisine.info != nil %}

            <div class="collapsible-body">
                {% if cuisine.img != nil %}
                <div class="card">

                    {% for src in cuisine.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" alt=nil src="/assets/res/hedgehog/{{src}}">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if cuisine.info != nil %}
                {{cuisine.info}}
                {% endif %}
            </div>

            {% endif %}
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>

<div class="row">

    <h1>小刺猬の小黑屋</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for block in site.data.hedgehog.block %}
        {% if block.name != nil %}

        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                {{block.name}}
            </div>

            <div class="collapsible-body">
                {% if block.reason != nil %}
                {{block.reason}}
                {% endif %}
            </div>
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>
