{% assign page_list = site.data.list.genshin %}

<nav class="hide-on-small-only">
    <div class="nav-wrapper">
        <a href="{{site.github.repository_url}}" class="brand-logo right"><i class="bi-github"></i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!--数组声明 用split切割字符串-->
            {% for genshin_info in page_list %}
            <li><a href="{{ genshin_info.url }}">{{genshin_info.h | upcase }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav hide-on-large-only">
    <li><div class="user-view">
        <div class="background">
<!--            <img src="images/office.jpg">-->
        </div>
        <a href="{{site.github_profile}}"><img class="circle" src="/assets/res/user.jpg"></a>
        <a href="{{site.github_profile}}"><span class="white-text name">{{site.user}}</span></a>
    </div></li>
    <li><a href="/">Home</a></li>
    <li><div class="divider"></div></li>
    {% for genshin_info in page_list %}
    <li><a href="{{ genshin_info.url }}">{{genshin_info.h | upcase }}</a></li>
    {% endfor %}
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
    <i class="bi bi-text-indent-left"></i>
</a>

<!--<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>-->


