<div class="row">

    <ul class="collapsible popout" data-collapsible="accordion">

        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                达美乐比萨
            </div>
        </li>
        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                鸡翅玉米
            </div>

            <div class="collapsible-body">
                <div class="card ">
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" alt="" src="/assets/res/food/recommend-cuisine/chicken_wings_corn_1.JPG">
                    </div>
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" alt="" src="/assets/res/food/recommend-cuisine/chicken_wings_corn_2.JPG">
                    </div>
                </div>
            </div>
        </li>

    </ul>

</div>