<div class="row">

    <h1>小刺猬の推荐</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for cuisine in site.data.recommend-cuisine.recommend %}
        {% if cuisine.name != "" %}

        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                {{cuisine.name}}
            </div>

            <div class="collapsible-body">
                {% if cuisine.img != "" %}
                <div class="card">

                    {% for src in cuisine.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" alt="" src="/assets/res/food/recommend-cuisine/{{src}}">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if cuisine.info != "" %}
                {{cuisine.info}}
                {% endif %}
            </div>
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>

<div class="row">

    <h1>小刺猬の小黑屋</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for block in site.data.recommend-cuisine.block %}
        {% if block.name != "" %}

        <li style="border-radius: 5px;" class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}"
                 style="background-color: rgba(255,255,250,0)!important;">
                {{block.name}}
            </div>

            <div class="collapsible-body">
                {% if block.reason != "" %}
                {{block.reason}}
                {% endif %}
            </div>
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>
