---

---

.card
  position: relative
  margin: 0.5rem 0 1rem 0
  background-color: #fff
  -webkit-transition: -webkit-box-shadow .25s
  transition: box-shadow .25s, -webkit-box-shadow .25s
  border-radius: 10px

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating)
  color: #ffab40

//方法重写
.card .card-action:last-child
  border-radius: 0 0 10px 10px