---
---
:root {
  --augus-black: #444;
  --augus-grey: #e0e0e0;
  --a-foucs-cover: #ff5722;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-sizing($args...) {
  -webkit-box-sizing: $args;
  -moz-box-sizing: $args;
  -ms-box-sizing: $args;
  -o-box-sizing: $args;
  box-sizing: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin animation($args...) {
  animation: $args;
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
}

@mixin animation-iteration-count($args...) {
  animation-iteration-count: $args;
  -webkit-animation-iteration-count: $args;
  -moz-animation-iteration-count: $args;
  -ms-animation-iteration-count: $args;
  -o-animation-iteration-count: $args;
}

@mixin background-size($args...) {
  background-size: $args;
  -webkit-background-size: $args;
  -moz-background-size: $args;
  -ms-background-size: $args;
  -o-background-size: $args;
}


@charset "UTF-8";
html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 60px;
  margin-bottom: 1rem;
}

header #slide-out {
  background: #eff9fa !important;
}

header a:hover {
  text-decoration: none;
}

header .background {
  background: -webkit-linear-gradient(90deg, rgba(149, 210, 87, 0.2) 10%, rgba(225, 73, 231, 0.32) 90%);
  background: linear-gradient(90deg, rgba(149, 210, 87, 0.2) 10%, rgba(225, 73, 231, 0.32) 90%);
}

header .userView {
  margin-top: 36px;
  line-height: initial;
}

header .userView .circle {
  border-style: solid;
  border-color: #efaf4a;
  border-width: 1px;
}

header nav.top-nav {
  position: relative;
  height: 240px;
  background-color: #4bd0df !important;
}

header nav.top-nav .head-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  overflow: hidden;
}

header nav .head-message {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: initial;
  text-shadow: #E2B032FF -1px -1px 4px, #E2B032FF 1px -1px 4px, #E2B032FF -1px 1px 4px, #E2B032FF 1px 1px 4px, #E2B032FF 0px 0px 10px;
}

header nav .head-bar {
  margin: 0.5em;
  font-size: 16px;
  font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", "Times New Roman", serif;
}

main {
  flex: 1 0 auto;
  z-index: 1;
}

#return-top {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: #313131;
  padding: 3px 10px;
  background-color: #00000000;
}

.opacity-icon {
  opacity: 60% !important;
}

footer .footer-copyright {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem
}

footer .footer-copyright a {
  color: #000;
}

footer .footer-copyright a:hover, footer .footer-copyright a:focus {
  text-decoration: none;
  color: var(--a-foucs-cover);
}

footer .row {
  margin-bottom: 0;
}

footer p {
  margin-top: 5px;
}

footer .footer-message {
  font-family: cursive;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

footer .visit-statistics {
  margin-top: 5px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  footer .search .search-input {
    width: 80%;
  }
  footer .search .search-results {
    width: 80%;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#all-contents-info table, #all-contents-info th, #all-contents-info td {
  border: 1px solid #ccc;
}

#all-contents-info table thead tr {
  background: #e7e8e9;
}

#all-contents-info table thead th {
  text-align: center;
}

#all-contents-info table tbody tr:nth-child(2n + 1) {
  background: #f7f7f7;
}

/*所有列表都透明 */
.collapsible-header {
  background-color: #fff0;
}

nav {
  color: rgba(0, 0, 0, 0.51);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  -webkit-box-shadow: none;
}

nav a {
  color: #000;
}

nav ul a {
  color: #000;
  font-size: 16px;
}

nav .brand-logo {
  left: 1%;
  color: #000;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 15%;
  }
}

/*nav下拉表如 */
.nav-dropdown-content {
  top: 56px !important;
  border-radius: 10px;
  background-color: #fff;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #3f51b5;
}

@media only screen and (min-width: 601px) {
  /*此时nav line-height为64 */
  .nav-dropdown-content {
    top: 64px !important;
  }
}

nav ul a:hover {
  background-color: #0000;
  color: #e81e25;
}

nav .nav-wrapper a:hover {
  background-color: #0000;
}

/*color: #52d9e5 */
.material-tooltip {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  color: #000;
}

.slider .indicators .indicator-item {
  background-color: #fff0;
}

/*修改slider按钮颜色 */
.slider .indicators .indicator-item.active {
  background-color: #fff0;
}

.collection .collection-item {
  background-color: #fff0;
}

.page-info {
  width: 100%;
  padding: 0 0 1rem 0;
}

.page-title {
  display: inline-block;
  font-family: "Lora", "Times New Roman", serif;
  font-style: italic;
  font-size: 36px;
  margin-top: 0.5em;
  color: #404040;
}

.page-meta {
  /*color: #777777 */
  font-size: 95%;
}

.page-date {
  font-family: "Lora", "Times New Roman", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  text-decoration: underline;
}

.page-excerpt {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7rem;
}

/*渐变图片 */
.animation-cover-image {
  transform-origin: 50% 80%;
  animation: coverZoom linear 50s;
  -webkit-animation: coverZoom linear 50s;
  -moz-animation: coverZoom linear 50s;
  -ms-animation: coverZoom linear 50s;
  -o-animation: coverZoom linear 50s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  /*background-image: url(/assets/res/home/0.jpg) */
  /*background-size: cover */
  /*background-position: top left */
  /*background-attachment: scroll */
  /*height: 961px */
  z-index: -1;
}

@keyframes coverZoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.24);
  }
}

@-moz-keyframes coverZoom {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.24);
  }
}

/*磨砂玻璃效果 */
.frosted {
  backdrop-filter: blur(10px);
}

.radius5px {
  border-radius: 5px;
}

.radius10px {
  border-radius: 10px;
}

.auto-height {
  height: auto !important;
}

.collapsible.popout > li {
  margin: 3px 24px;
}

/*mater css列表调整 */
.collapsible > li {
  margin: 3px 0;
}

/*mater css列表阴影调整 */
.collapsible {
  border: none;
  box-shadow: none;
}

/*badge颜色修改 */
.badge {
  background-color: #777777;
}

span.badge {
  color: #fff;
}

.modal {
  bottom: auto;
}

.hide-border {
  border: none !important;
}

.hide-box-shadow {
  box-shadow: none !important;
}

.header-bg {
  animation: header-effect 1s;
  -webkit-animation: header-effect 1s;
  -moz-animation: header-effect 1s;
  -ms-animation: header-effect 1s;
  -o-animation: header-effect 1s;
  position: relative;
  width: 100%;
  height: 40rem;
  background-position: center center;
  @include background-size(cover);
  background-repeat: no-repeat;
  @include transition(all 0.5s);
}

@media screen and (max-width: 768px) {
  .header-bg {
    height: 18rem;
  }
}

.header-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5) */
  content: "";
  z-index: -1;
}

.full-bg {
  /*background-color: #00af91 */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}

.full-bg:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.pagination li i {
  font-size: unset !important;
}

.pagination > li > a, .pagination > li > span {
  padding: 0 10px;
  line-height: 3rem;
}

.navbar-default {
  background: unset;
  border: unset;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    @include transition(background-color 0.3s);
    /* Force Hardware Acceleration in WebKit */
    @include transform(translate3d(0, 0, 0));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -64px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: var(--a-foucs-cover);
  }

  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: var(--a-foucs-cover);
  }

  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    @include transform(translate3d(0, 100%, 0))
  }
}

/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

@media only screen and (max-width: 767px) {
  /**
   * Layout
   * Since V1.6 we use absolute positioning to prevent to expand container-fluid
   * which would cover tags. A absolute positioning make a new layer.
   */
  .navbar-default .navbar-collapse {
    position: absolute;
    right: 0;
    border: none;
    background: white;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
  }

  /**
   * Animation
   * HuxBlog-Navbar using genuine Material Design Animation
   */
  #augus_navbar {
    /**
     * Sharable code and 'out' function
     */
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  }

  /**
   *'In' Animation
   */
  #augus_navbar a {
    font-size: 13px;
    line-height: 28px;
  }

  #augus_navbar .navbar-collapse {
    height: 0px;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  }

  #augus_navbar li {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #augus_navbar.in {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #augus_navbar.in .navbar-collapse {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #augus_navbar.in li {
    opacity: 1;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }

  .navbar-custom .nav li a {
    color: var(--augus-black);
  }
}

.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  /* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
  line-height: 1.7;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  height: 56px;
  line-height: 25px;
}

.navbar-custom .navbar-brand:hover {
  color: rgba(98, 196, 137, 0.8);
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 800;
}

.navbar-custom .nav li a:active {
  background: rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }

  .navbar-custom body {
    font-size: 20px;
  }

  .navbar-custom .navbar-brand {
    padding: 20px;
    line-height: 20px;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(98, 196, 137, 0.8);
  }

  .navbar-custom .nav li a {
    color: var(--augus-grey);
    padding: 20px;
  }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(98, 196, 137, 0.8);
  }

  .navbar-custom .nav li a:active {
    background: none;
  }
}

.navbar-custom .navbar-toggle:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: var(--augus-grey);
}

.navbar-custom .navbar-brand {
  color: var(--augus-grey);
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: var(--a-foucs-cover);
}

.search-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  @include transform(translate(0, 100%));
  @include transition(all 400ms cubic-bezier(0.32, 1, 0.23, 1));
  opacity: 0;
}

.search-page.search-active {
  opacity: 1;
  @include transform(translate(0, 0) scale(1, 1));
}

.search-page.search-active .search-main {
  opacity: 1;
}

.search-page .search-main {
  padding-top: 80px;
  height: 100%;
  opacity: 0;
  @include transition(all 400ms cubic-bezier(0.32, 1, 0.23, 1) 250ms);
}

.search-page .search-main .row,
.search-page .search-main .row > div {
  height: 100%;
}

.search-page .search-icon-close-container {
  position: absolute;
  z-index: 1;
  padding: 16px;
  top: 0;
  right: 2px;
}

.search-page .search-icon-close-container i {
  font-size: 20px;
}

.search-page #search-input {
  font-family: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #404040;
}

@media only screen and (min-width: 768px) {
  .search-page #search-input {
    margin-left: 20px;
  }
}

.search-page #search-results {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 80px;
}

.pager li {
  width: 48%;
}

.pager li.next {
  float: right;
}

.pager li.previous {
  float: left;
}

.pager li > a {
  width: 100%;
}

.pager li > a > span {
  color: #a3a3a3;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.pager li > a,
.pager li > span {
  /* Hux learn from
   *     TypeIsBeautiful,
   *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
   */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 600px) {
  .pager li {
    width: 100%;
    margin: 0.5rem 0 0 0;
  }
}

.pager li > a {
  color: #404040;
}

.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: var(--a-foucs-cover);
  border: 1px solid var(--a-foucs-cover);
}

.pager li > a:hover > span,
.pager li > a:focus > span {
  color: white;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #a3a3a3;
  background-color: #404040;
  cursor: not-allowed;
}


.grey-picture {
  -webkit-filter: grayscale(100%) brightness(1) contrast(.5);
  -moz-filter: grayscale(100%) brightness(1) contrast(.5);
  -ms-filter: grayscale(100%) brightness(1) contrast(.5);
  -o-filter: grayscale(100%) brightness(1) contrast(.5);
  filter: grayscale(100%) brightness(1) contrast(.5);
  -webkit-filter: grey opacity(.5);
  filter: grey opacity(.5);
}