---

---

main
  div
    .divider
      margin: 10px 0

    &.highlighter-rouge
      margin: 1em 20px

      pre
        padding: 5px

  figure
    &.highlight
      margin: 1em 20px

      pre
        white-space: pre-wrap

      table
        width: auto


.image.main
  display: block
  margin: 0 0 3em 0
  width: 100%

.image.main img
  width: 100%

@media screen and (max-width: 736px)
  .image.main
    margin: 0 0 2em 0
