html {
    font-family: Merriweather, Cambria, Cochin, Georgia, Times, JetBrains Mono, serif
}

/*所有列表都透明*/
.collapsible-header {
    background-color: #fff0;
}

nav {
    color: rgba(0, 0, 0, 0.51);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    -webkit-box-shadow: none;
}

nav a {
    color: #000;
}

nav ul a {
    color: #000;
}

nav .brand-logo {
    left: 1%;
    color: #000;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 15%;
    }
}

/*nav下拉表如*/
.nav-dropdown-content {
    top: 56px !important;
    border-radius: 10px;
    background-color: #0000;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #fe7773;
}

@media only screen and (min-width: 601px) {
    /*此时nav line-height为64*/
    .nav-dropdown-content {
        top: 64px !important;
    }
}

nav ul a:hover {
    background-color: #0000;
    color: #e81e25;
}

nav .nav-wrapper a:hover {
    background-color: #0000;
    /*color: #52d9e5;*/
}

.material-tooltip {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    color: #000;
}

.slider .indicators .indicator-item {
    background-color: #fff0;
}

/*修改slider按钮颜色*/
.slider .indicators .indicator-item.active {
    background-color: #fff0;
}

.collection .collection-item {
    background-color: #fff0;
}

.page-title {
    /*color: #52D9E5;*/
    margin-top: 10px;
}

/*渐变图片*/
.animation-cover-image {
    transform-origin: 50% 80%;
    animation: coverZoom linear 50s;
    animation-iteration-count: infinite;
    -webkit-animation: coverZoom linear 50s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: coverZoom linear 50s;
    -moz-animation-iteration-count: infinite;
    -ms-animation: coverZoom linear 50s;
    -ms-animation-iteration-count: infinite;

    /*background-image: url(/assets/res/home/0.jpg);*/
    /*background-size: cover;*/
    /*background-position: top left;*/
    /*background-attachment: scroll;*/
    /*height: 961px;*/

    z-index: -1
}

@keyframes coverZoom {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.24)
    }
}

@-moz-keyframes coverZoom {
    0%, 100% {
        -moz-transform: scale(1)
    }
    50% {
        -moz-transform: scale(1.24)
    }
}

/*磨砂玻璃效果*/
.frosted {
    backdrop-filter: blur(10px);
    background: inherit;
    overflow: hidden;
    border-radius: 10px;
}