@font-face {
    font-family: Merriweather, Cambria, Cochin, Georgia, Times, JetBrains Mono, serif
}

/*所有列表都透明*/
.collapsible-header {
    background-color: #fff0;
}

nav {
    color: rgba(0, 0, 0, 0.51);
    background-color: #fff0;
}

nav a {
    color: #000;
}

nav ul a {
    color: #000;
}

nav .brand-logo {
    left: 1%;
    color: #000;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 15%;
    }
}

/*nav下拉表如*/
.nav-dropdown-content {
    top: 56px !important;
    border-radius: 10px;
}

@media only screen and (min-width: 601px) {
    /*此时nav line-height为64*/
    .nav-dropdown-content {
        top: 64px !important;
    }
}

nav ul a:hover {
    background-color: rgb(82, 217, 229);
}

.material-tooltip {
    border-radius: 10px;
    background-color: #77c3c7;
}