---
---
.event-title {
  display: inline-block;
  font-size: 36px;
  margin-top: 0.5em;
  color: #404040
}

.event-excerpt {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7rem
}

.event-date {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px
}
