---
---
.event-title {
  display: inline-block;
  font-size: 3.6rem;
  margin-top: 0.5em;
  color: #404040
}

.event-excerpt {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem
}

.event-date {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2rem
}

@media only screen and (max-width: 600px) {
  .event-title {
    font-size: 1.8rem;
  }

  .event-excerpt {
    font-size: 0.8rem;
  }

  .event-date {
    font-size: 1rem
  }
}