---
layout: post
title:  "再也不用考虑今天吃什么了"
date:   2021-09-24 11:00:02
categories: 杂谈
tags: 杂谈 外卖
js: ["food-list.js"]
---

今天吃什么不用我多说了吧。<br>

<blockquote>
    温馨提示：评级在商家上 | 味道评级在商品上
    <ul>
        <li class="teal accent-3">5星 #1de9b6</li>
        <li class="cyan accent-3">4星 #00e5ff</li>
        <li class="light-blue accent-3">3星 #00b0ff</li>
        <li class="amber accent-3">2星 #ffc400</li>
    </ul>
    种类在整行背景上
    <ul>
        <li class="red accent-1">日韩料理</li>
        <li class="pink accent-1">西餐</li>
        <li class="purple accent-1">奶茶</li>
        <li class="deep-purple lighten-4">Malatang 串串 麻辣烫 麻辣香锅 冒菜</li>
        <li class="indigo lighten-4">炸鸡 烤鸭 Fried chicken and roast duck</li>
        <li class="blue lighten-4">粉面</li>
        <li class="cyan lighten-4">炒菜</li>
        <li class="light-blue lighten-4">备用</li>
        <li class="green lighten-4">备用</li>
    </ul>
</blockquote>


<h2>外卖推荐</h2>

<!--三列 每一列一个店家 如果店家有多个菜品 进行表格处理-->
<div class="container">

    {% for i in (0..16) %}
    {% capture FL_name %}FL_name{{i}}{% endcapture %}
    {% capture FL_food %}FL_food{{i}}{% endcapture %}
    {% if FL_name %}
    <div class="row">
        <div class="col s4">
            <p class="z-depth-5" id="{{FL_name}}"></p>
        </div>
        <div class="col s4">
            <p class="z-depth-5" id="{{FL_food}}"></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


<!--class 排序 高亮 居中 缩小可滚动-->
<!--<div class="container">-->
<!--    <table id="myTableSort" class="tablesorter highlight centered responsive-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>商家</th>-->
<!--            <th>商品</th>-->
<!--            <th>价格</th>-->
<!--            <th>副作用</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        {% for i in (0..14) %}-->
<!--        {% capture FL_name %}FL_name{{i}}{% endcapture %}-->
<!--        {% capture FL_food %}FL_food{{i}}{% endcapture %}-->
<!--        {% capture FL_foodRate %}FL_foodRate{{i}}{% endcapture %}-->
<!--        {% capture FL_satisfaction %}FL_satisfaction{{i}}{% endcapture %}-->
<!--        {% capture FL_price %}FL_price{{i}}{% endcapture %}-->
<!--        {% capture FL_note %}FL_note{{i}}{% endcapture %}-->
<!--        {% capture FL_typeColor %}FL_typeColor{{i}}{% endcapture %}-->
<!--        <tr id="{{FL_typeColor}}">-->
<!--            <td id="{{FL_satisfaction}}"><span id="{{FL_name}}"></span></td>-->
<!--            <td id="{{FL_foodRate}}"><span id="{{FL_food}}"></span></td>-->
<!--            <td id="{{FL_price}}"></td>-->
<!--            <td id="{{FL_note}}"></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->

<!--        </tbody>-->
<!--        <tfoot>-->
<!--        <tr>-->

<!--        </tr>-->
<!--        </tfoot>-->
<!--    </table>-->
<!--</div>-->


<h2>拉黑商家 - 难吃的一批</h2>

<ul>
    {% for i in (0..10) %}
    {% capture nameBlackRestaurant %}nameBlackRestaurant{{i}}{% endcapture %}
    {% if nameBlackRestaurant %}
    <li id="{{nameBlackRestaurant}}">河南大烩菜</li>
    {% endif%}
    {% endfor %}
</ul>
