---
layout: post
title:  "网站记录"
date:   2021-09-08 11:00:02
categories: 记录
tags: 网站 记录
with_contents: 1
---

<h2>好的网站</h2>
<ul>
    {% for good in site.data.web_record.good %}
    {% assign href = good.url %}
    {% assign title = good.tip %}
    {% assign name = good.name %}
    <li><a href="{{href}}" title="{{title}}" target="_blank">{{name}}</a></li>
    {% endfor %}
</ul>

<h2>back up</h2>
<ul>
    {% for backup in site.data.web_record.backup %}
    {% assign href = backup.url %}
    {% assign title = backup.tip %}
    {% assign name = backup.name %}
    <li><a href="{{href}}" title="{{title}}" target="_blank">{{name}}</a></li>
    {% endfor %}
</ul>

