---
layout: post
title:  "再也不用考虑今天吃什么了"
date:   2021-09-24 11:00:02
categories: 杂谈
tags: 杂谈 外卖
js: ["food-list.js"]
---

今天吃什么不用我多说了吧。<br>

<blockquote>
    温馨提示：评级在商家上 | 味道评级在商品上
    <ul>
        <li class="teal accent-3">5星 #1de9b6</li>
        <li class="cyan accent-3">4星 #00e5ff</li>
        <li class="light-blue accent-3">3星 #00b0ff</li>
        <li class="amber accent-3">2星 #ffc400</li>
    </ul>
</blockquote>


<h2>外卖推荐</h2>

<div class="container">
    <table id="myTableSort" class="tablesorter">
        <thead>
        <tr>
            <th>商家</th>
            <th>商品</th>
            <th>价格</th>
            <th>副作用</th>
        </tr>
        </thead>
        <tbody>

        {% for i in (0..14) %}
        {% capture FL_name %}FL_name{{i}}{% endcapture %}
        {% capture FL_food %}FL_food{{i}}{% endcapture %}
        {% capture FL_foodRate %}FL_foodRate{{i}}{% endcapture %}
        {% capture FL_satisfaction %}FL_satisfaction{{i}}{% endcapture %}
        {% capture FL_price %}FL_price{{i}}{% endcapture %}
        {% capture FL_note %}FL_note{{i}}{% endcapture %}
        <tr>
            <!--            <td id="{{FL_satisfaction}} {{FL_name}}"></td>-->
            <!--            <td id="{{FL_foodRate}} {{FL_food}}"></td>-->
            <td id="{{FL_name}}"></td>
            <td id="{{FL_food}}"></td>
            <td id="{{FL_price}}"></td>
            <td id="{{FL_note}}"></td>
        </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>

        </tr>
        </tfoot>
    </table>
</div>


<h2>拉黑商家 - 难吃的一批</h2>

<ul>
    {% for i in (0..5) %}
    {% capture nameBlackRestaurant %}nameBlackRestaurant{{i}}{% endcapture %}
    <li id="{{nameBlackRestaurant}}">河南大烩菜</li>
    {% endfor %}
</ul>
