---
layout: page
js: blog.js
css: blog.css
with_header_bg: list/code.jpg
---


<!--paginator只能用于index.html但可以用子文件(目前测试发现只能用于根目录下的一级子文件夹)下的index.html-->
<!--These are only available in index files, however they can be located in a subdirectory, such as /blog/index.html.-->
<!--日期格式化网站 http://www.strfti.me/ -->
<!--更新日期 {{ post.last_modified_at | date: "%H:%M:%S %a, %B %d, %Y"}} github不可用-->

{% for post in paginator.posts %}
<div class="col s12">
    <!--当前页*每页的博文数+索引 模 总共祈愿的长度-->
    {% assign img_index = paginator.page | times: paginator.per_page | plus: forloop.index0 | modulo:
    site.data.genshin.wish.characters.size %}
    {% assign wish_name = site.data.genshin.wish.characters[img_index].wish5star %}
    <div class="card waves-effect waves-block waves-light radius10px">
        <!--图片 奇偶 显示位置调换-->
        {% assign index = forloop.index0 | modulo: 2 %}
        <div class="card-image waves-effect waves-block waves-light top-img {% if index == 0 %} right-img {% endif %}">
            <img src="/assets/res/genshin-impact/characters/half/{{wish_name}}.png">
        </div>
        <!--日期格式化网站 http://www.strfti.me/-->
        <!--          <i class="material-icons">update</i>更新日期 {{ post.last_modified_at | date: "%H:%M:%S %a, %B %d, %Y"}}<br>-->
        <div class="card-content">
            <a href="{{post.url}}">
                <div class="card-title valign-wrapper">
                    {% if post.lang == 'en' %}
                    {{ post.title | strip_html | strip_newlines | remove: " " | truncate:30 }}
                    {% else %}
                    {{ post.title | strip_html | strip_newlines | remove: " " | truncate:10 }}
                    {% endif %}
                </div>
            </a>
            <div class="page-date">
                Written by {{site.name}} on {{post.date | date_to_string}}
            </div>
            <a href="{{post.url}}">
                <div class="page-excerpt">
                    {% if post.lang == 'en' %}
                    {{ post.content | strip_html | strip_newlines | remove: " " | truncate:450 }}
                    {% else %}
                    {{ post.content | strip_html | strip_newlines | remove: " " | truncate:150 }}
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

<!--分页-->
{% if paginator.total_pages > 1 %}
<div class="col s12">
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                &larr; Newer Posts
            </a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                Older Posts &rarr;
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

