---
layout: default
css:
- post.css
- page.css
- public.css
js:
- post.js
- contents.js
---


<!--日记模块-->
<div class="page-info">
    <h1 class="page-title">{{page.title}}</h1>
    <div class="page-meta">
        <i class="fa fa-calendar-alt tooltipped" data-position="left" data-delay="30" data-tooltip="Date"></i>
        写于：{{page.date | date: "%Y-%m-%d %H:%M:%S"}}
    </div>
</div>
<div class="divider"></div>
<div class="col s12 center-align">
    {{ content }}
</div>


<div class="divider"></div>

<div><i class="fa fa-comments"></i><span> 评论</span></div>
<div id="gitalk-container"></div>

<div>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@latest/dist/gitalk.min.js"></script>
    <script>
        const initGitalk = () => {
            const gitalk = new Gitalk({
                clientID: "5301328d56cf49a6d68e",
                clientSecret: "dd04918e1a0267bc6eeaf27c1f7c9cc65832db57",
                repo: "draugus.github.io",
                owner: "draugus",
                admin: ["draugus"],
                id: "{{page.title}}",
                language: "zh-CN",
                perPage: 10,
                distractionFreeMode: false,
                pagerDirection: "last",
                createIssueManually: false
                // updateCountCallback: commentCount
            });

            gitalk.render("gitalk-container");
        };
        initGitalk();
    </script>
</div>