---
layout: default
css:
- page.css
js:
- contents.js
---
<div class="page-info {% if {{page.title}} == '' or {{page.title}} == nil %}hide{% endif%}">
    <h1 class="page-title">{{page.title}}</h1>
</div>

{% if page.with_contents %}
<div id="all-contents-info" class="row">
    <div class="col s12 m9 l10">
        <div class="col s12">
            {{ content }}
        </div>
    </div>

    <div class="col hide-on-small-only  m3 l2">
        <ul id="post-contents" class="section table-of-contents"></ul>
    </div>
</div>
{% else %}
<div class="row">
    {{ content }}
</div>
{% endif %}


{% if page.with_comment %}
<div class="col s12">
    <h2>
        <span>留言</span><i class="fa fa-comments"></i>
    </h2>
</div>
<div class="divider"></div>
<div id="gitalk-container"></div>

<div>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@latest/dist/gitalk.min.js"></script>
    <script>
        const initGitalk = () => {
            const gitalk = new Gitalk({
                clientID: "5301328d56cf49a6d68e",
                clientSecret: "dd04918e1a0267bc6eeaf27c1f7c9cc65832db57",
                repo: "draugus.github.io",
                owner: "draugus",
                admin: ["draugus"],
                id: "{{page.title}}",
                language: "zh-CN",
                perPage: 10,
                distractionFreeMode: false,
                pagerDirection: "last",
                createIssueManually: false
                // updateCountCallback: commentCount
            });

            gitalk.render("gitalk-container");
        };
        initGitalk();
    </script>
</div>
{% endif %}