---
layout: default
css:
- page.css
- public.css
js:
- contents.js
---
<div id="page-info">
    <h3 class="page-title">{{page.title}}</h3>
</div>

{% if page.with_contents %}
<div id="all-contents-info" class="row">
    <div class="col s12 m9 l10">
        <div class="col s12">
            {{ content }}
        </div>
    </div>

    <div class="col hide-on-small-only  m3 l2">
        <ul id="post-contents" class="section table-of-contents"></ul>
    </div>
</div>
{% else %}
<div class="row">
    {{ content }}
</div>
{% endif %}
