---
layout: default
css:
- post.css
js:
- post.js
- contents.js
---


<div class="page-info">
    <h1 class="page-title  {% if page.title == '' or page.title == nil %}hide{% endif %} ">{{page.title}}</h1>
    <div class="page-meta">
        <div id="page-meta-1">
            <i class="fa fa-calendar-alt tooltipped" data-position="left" data-delay="30" data-tooltip="Date"></i>
            发表于：{{page.date | date: "%Y-%m-%d"}}
        </div>
        <div id="page-meta-2">
            <i class="fa fa-eye "></i>
            <span id="busuanzi_container_page_pv">阅读量：<span id="busuanzi_value_page_pv"></span></span>
            &nbsp;&bull;&nbsp;
            <i class="fa fa-newspaper"></i>字数
            <span>{{ page.content | strip_html | strip_newlines | remove: " " | size }}</span>
            &nbsp;&bull;&nbsp;
            <i class="fa fa-clock"></i>
            <span>阅读时长 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1}} 分钟</span>
        </div>
        <div id="page-meta-3">
            <i class="fa fa-hashtag tooltipped" data-position="left" data-delay="30"
               data-tooltip="Categories"></i>
            {% for cat in page.categories %}
            {% capture test %}{{cat | slice: 0}}{% endcapture %}
            {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
            <a href="/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}"
               target="_blank">
                <div class="chip">{{cat}}</div>
            </a>
            {% endfor %}

            <i class="fa fa-tags tooltipped" data-position="left" data-delay="30" data-tooltip="Tags"></i>
            {% for tag in page.tags %}
            {% capture test %}{{tag | slice: 0}}{% endcapture %}
            {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
            <a href="/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}"
               target="_blank">
                <div class="chip">{{tag}}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="divider"></div>
<div id="all-contents-info" class="row">
    <div class="col s12 m9 l10">
        <div class="col s12">
            {{ content }}
        </div>
    </div>

    <div class="col hide-on-small-only  m3 l2">
        <div class="pinned">
            <ul id="post-contents" class="section table-of-contents"></ul>
        </div>
    </div>
</div>


<!-- Pager -->
<ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
           data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
            Previous<br>
            <span>{{page.previous.title}}</span>
        </a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
           data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
            Next<br>
            <span>{{page.next.title}}</span>
        </a>
    </li>
    {% endif %}
</ul>

<div id="gitalk-container"></div>

<div>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@latest/dist/gitalk.min.js"></script>
    <script>
        const initGitalk = () => {
            const gitalk = new Gitalk({
                clientID: "5301328d56cf49a6d68e",
                clientSecret: "dd04918e1a0267bc6eeaf27c1f7c9cc65832db57",
                repo: "draugus.github.io",
                owner: "draugus",
                admin: ["draugus"],
                id: "{{page.title}}",
                language: "zh-CN",
                perPage: 10,
                distractionFreeMode: false,
                pagerDirection: "last",
                createIssueManually: false
                // updateCountCallback: commentCount
            });

            gitalk.render("gitalk-container");
        };
        initGitalk();
    </script>
</div>