---
layout: default
css:
- post.css
js:
- post.js
- contents.js
---


<div class="page-info">
    <h1 class="page-title  {% if page.title == '' or page.title == nil %}hide{% endif %} ">{{page.title}}</h1>
    <div class="page-meta">
        <div id="page-meta-1">
            <i class="fa fa-calendar-alt"></i>
            发表于：{{page.date | date: "%Y-%m-%d"}}
        </div>
        <div id="page-meta-2">
            <i class="fa fa-newspaper"></i>
            <span>字数&nbsp;{{ page.content | strip_html | strip_newlines | remove: " " | size }}</span>
            &nbsp;&bull;&nbsp;
            <i class="fa fa-clock"></i>
            <span>阅读时长&nbsp;{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1}} 分钟</span>
        </div>
        <div id="page-meta-3">
            <i class="fa fa-hashtag"></i>
            {% for cat in page.categories %}
            {% capture test %}{{cat | slice: 0}}{% endcapture %}
            {% capture testup %}{{cat | slice: 0 | upcase}}{% endcapture %}
            <a href="/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}"
               target="_blank"><span>{{cat}}</span></a>
            {% endfor %}

            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
            {% capture test %}{{tag | slice: 0}}{% endcapture %}
            {% capture testup %}{{tag | slice: 0 | upcase}}{% endcapture %}
            <a href="/tags#{{tag | slugify}}{% if test == testup %}_cap{% endif %}"
               target="_blank"><span>{{tag}}</span></a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="divider"></div>

{% include contents.html %}

<div class="row">
    <!-- Pager -->
    <ul class="pager">
        {% if page.previous.url %}
        <li class="previous post-card">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
               data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                Previous<br>
                <span>{{page.previous.title}}</span>
            </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next post-card">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
               data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                Next<br>
                <span>{{page.next.title}}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>


{% include gitalk.html %}