<ul class="collapsible popout" data-collapsible="accordion">
    {% for wordInfo in site.data.words-zh %}
    {% if wordInfo.words != nil %}
    <li class="hide-box-shadow hoverable">
        <div class="collapsible-header">
            <i class="fas fa-cat"></i>
            <span> {{wordInfo.words}} ⌈ {{wordInfo.pinyin}} ⌋ </span>
        </div>
        <div class="collapsible-body">
            {% if wordInfo.basicInterpretation != nil %}
            <span>基本释义： {{wordInfo.basicInterpretation}} </span><br> {% endif %}
            {% if wordInfo.detailedInterpretation != nil %}
            <span>详细释义： {{wordInfo.detailedInterpretation}} </span><br> {% endif %}
            {% if wordInfo.near-synonym != nil %}
            <span>近义词： {{wordInfo.near-synonym}} </span><br> {% endif %}
            {% if wordInfo.antonym != nil %}
            <span>反义词： {{wordInfo.antonym}} </span><br> {% endif %}
            {% if wordInfo.source != nil %}
            <span>出处： {{wordInfo.source}} </span><br> {% endif %}
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
