<!--暂定最高为5个同时发生的事件-->
{% for i in (0..4) %}
<div class="row hide z-depth-0" id="showNow{{i}}">
    <h2 class="center-align"><span id="nowEvent{{i}}"></span></h2>
    <p id="nowEventInfo{{i}}"></p>
</div>
{% endfor %}


<!--暂定最高为5个同时发生的事件-->
{% for i in (0..4) %}
<div class="row hide z-depth-0" id="showTomorrow{{i}}">

    <div class="col s6">
        <h3 class="center-align">即将到来<span id="tomorrowEvent{{i}}"></span></h3>
    </div>

    <div class="col s6">
        <h3 class="center-align"><u id="tomorrowDDL{{i}}"></u></h3>
    </div>

</div>
{% endfor %}

<style>

    .collapsible-header {
        border-bottom: 0;
    }

    .collapsible-body {
        border-bottom: 0;
    }

</style>


<div class="row">
    <div class="col s12">

        <ul class="collapsible" data-collapsible="accordion">

            {% for info in site.data.countdown %}
            <!--index起始为1 index0起始为0 https://shopify.dev/api/liquid/objects/for-loops-->
            <!-- data-position can be : bottom, top, left, or right -->
            <!-- data-tooltip defines the tooltip text -->
            <li class="hoverable hide showList{{forloop.index0}} frosted radius10px">
                <div class="collapsible-header">
                    <span id="festival{{forloop.index0}}" class="tooltipped black-text" data-position="right"></span>
                    <span class="badge" id="ddlDay{{forloop.index0}}"></span>
                    <div class="left-align">
                        <span class="badge">Days</span>
                    </div>
                    <span class="badge chip hide" id="ddl{{forloop.index0}}"></span>
                </div>

                <!--不显示body 增加hide类 防止报错-->
                <div class="collapsible-body">
                    <h3 class="black-text" id="info{{forloop.index0}}"></h3>
                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>