<p>让你能够更快速的决定今天吃什么</p>

<blockquote>
    温馨提示：评级在商家上 | 味道评级在商品上
    <ul>
        <li class="stars-5">5星</li>
        <li class="stars-4">4星</li>
        <li class="stars-3">3星</li>
    </ul>
</blockquote>


<div class="row">
    <h1>外卖推荐</h1>
    <ul class="collapsible popout fa-ul" data-collapsible="accordion">
        {% for bestFood in site.data.food-list.bestFood %}
        {% if bestFood.name != nil %}
        <li class="z-depth-2 hoverable" style="background-color: #fff0">
            <!--        <i class="fa-li fas fa-hamburger"></i>-->
            <div class="collapsible-header">
                <div class="chip stars-{{bestFood.satisfaction}}"> {{bestFood.name}}</div>
            </div>
            <div class="collapsible-body">
                {% for food in bestFood.food %}
                <p class="chip stars-{{food.food_rate}}">{{food.name}}</p><br>
                <p class="chip">￥{{food.price}}</p><br>
                {% if food.note != nil %}
                <p class="chip"> TIPS: {{food.note}}</p><br>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>

<!--block-->
<div class="row">
    <h1>拉黑商家 - 非常难吃</h1>
    <ul class="collapsible popout fa-ul" data-collapsible="accordion">
        {% for blackFood in site.data.food-list.blackFood %}
        {% if blackFood.name != nil %}
        <li class="z-depth-2 hoverable" style="background-color: #fff0">
            <div class="collapsible-header">
                <div> {{blackFood.name}}</div>
            </div>

            <div class="collapsible-body {% if blackFood.reason == nil and blackFood.food == nil %}hide{% endif %}">
                {% if blackFood.reason != nil %}
                <p>拉黑原因：{{blackFood.reason}}</p>{% endif %}
                {% if blackFood.food != nil %}
                <p>拉黑菜品：{{blackFood.food}}</p>{% endif %}
            </div>

        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>



