<div class="row">

    <h1>小刺猬の推荐</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for cuisine in site.data.hedgehog.recommend %}
        {% if cuisine.name != nil %}

        <li class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{cuisine.name}}
            </div>

            {% if cuisine.img != nil or cuisine.info != nil %}

            <div class="collapsible-body">
                {% if cuisine.img != nil %}
                <div class="card">

                    {% for src in cuisine.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" src="/assets/res/hedgehog/{{src}}">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if cuisine.info != nil %}
                {{cuisine.info}}
                {% endif %}
            </div>

            {% endif %}
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>

<div class="row">

    <h1>小刺猬の奶茶</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for tea in site.data.hedgehog.tea %}
        {% if tea.name != nil %}

        <li class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{tea.name}}
            </div>

            {% if tea.img != nil or tea.info != nil %}

            <div class="collapsible-body">
                {% if tea.img != nil %}
                <div class="card">

                    {% for src in tea.img %}
                    <div class="card-image waves-effect waves-block waves-light hoverable">
                        <img class="activator" src="/assets/res/hedgehog/{{src}}">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}

                {% if tea.info != nil %}
                {{tea.info}}
                {% endif %}
            </div>

            {% endif %}
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>


<div class="row">

    <h1>小刺猬の小黑屋</h1>

    <ul class="collapsible popout" data-collapsible="accordion">

        {% for block in site.data.hedgehog.block %}
        {% if block.name != nil %}

        <li class="z-depth-2 hoverable">
            <div class="collapsible-header current-wish-color-{{i}}">
                {{block.name}}
            </div>

            {% if block.reason != nil %}
            <div class="collapsible-body">
                {{block.reason}}
            </div>
            {% endif %}
        </li>

        {% endif %}
        {% endfor %}

    </ul>

</div>


<div class="row">

    <h1>小刺猬の日常</h1>

    <!--FOOD-->
    {% for i in (0..10) %}
    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/food/{{i}}.jpg" loading="lazy">
            </div>
        </div>
    </div>
    {% endfor %}

    <!--TEA-->
    {% for i in (0..2) %}
    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/tea/{{i}}.jpg" loading="lazy">
            </div>
        </div>
    </div>
    {% endfor %}

    <!--SNACKS-->
    {% for i in (0..1) %}
    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light hoverable">
                <img src="/assets/res/hedgehog/snacks/{{i}}.jpg" loading="lazy">
            </div>
        </div>
    </div>
    {% endfor %}

</div>



